body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url("static/images/background.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.header-title {
    font-size: 28px;
    margin-left: 10px;
}


.movie-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.movie-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/images/overlay.jpg");
    opacity: 0.6;
    z-index: -1;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-title {
    font-size: 20px;
    margin-top: 10px;
}

.movie-description {
    margin-top: 10px;
    color: #fff;
}


.footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
    text-align: center;
}
.footer p {
    margin: 0;
}
