<!DOC TYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Review</title>

</head>
<body>
<header th:replace="~{fragments/header :: not-logged-in-header}"></header>
<main class="margin-top">
  <h3 class="margin-top">Add Review</h3>
  <form method="post" action="/add-review">
    <div>
      <label>Description</label>
      <input name="description" type="text" required>
    </div>
    <div>
      <label>Rating</label>
      <input name="rating" type="number" required>
    </div>
    <div>
      <button class="button green-theme" type="submit">Save</button>
      <button class="button red-theme" type="reset">Clear form</button>
    </div>
  </form>
</main>
</body>
</html>