<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
  <main class="margin-top">
      <h1 class="margin-top">Admin page</h1>
    <form method="post" action="/add-movie">

  <div>
   <h3>Please enter data:</h3>
    <label>Enter movie title:</label>
    <input name="Movie title" type="text" required>
  </div>
  <div>
    <label>Movie year:</label>
    <input name=" year" type="integer" required>
  </div>
  <div>
    <label>Genre:</label>
    <input name="genre" type="text" required>
  </div>
  <div>
    <label>Runtime:</label>
    <input name="runtime" type="integer" required>
  </div>
  <div>
    <label>TrailerUrl:</label>
    <input name="trailerUrl" type="url" required>
  </div>
  <div>
    <label>PosterUrl:</label>
    <input name="posterUrl" type="url" required>
  </div>
  <div>
    <label>Actor:</label>
    <input name="actor" type="text" required>
  </div>
  <div>
    <button class="button green-theme" type="submit">Submit</button>
    <button class="button red-theme" type="reset">Clear </button>
  </div>
</head>
<body>

</body>
</html>