<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<div class="media">
    <img class="mr-3 movie-image" alt="Movie Poster" th:src="${movie.posterUrl}" style="width: 200px; height: 300px;">
    <div class="media-body">
        <h5 class="mt-0 mb-1">
            <b th:text="${movie.title}"></b>
        </h5>
        <div th:text="${movie.description}"></div>
        <div th:text="'Runtime: ' + ${movie.runtime} + ' min'"></div>
        <div>
            <b>Year:</b> <span th:text="${movie.year}"></span>
        </div>
        <div>
            <b>Genre:</b> <span th:text="${movie.genre}"></span>
        </div>
        <div>
            <b>Trailer:</b>
            <div>
                <iframe width="560" height="315" th:src="${movie.trailerUrl}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div>
            <b>Rating:</b> <span th:text="${movie.rating}"></span>
        </div>
        <div>
            <b>Actors:</b> <span th:text="${movie.actors}"></span>
        </div>
    </div>
</div>
</body>
</html>