body, html {
    height: 100%;
}
body {
    color: black;
    background-image: url('/images/background-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-narrow {
    background: url('/images/texture.jpg') repeat 0 0;
    opacity: 0.9;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.long-input {
    width: 400px;
}

.red-button {
    background-color: darkred;
    color: white;
}
.text-light {
    color: black !important;
}
.pt-25 {
    padding-top: 25%;
}

.text-lg {
    font-size: 5em;
}

